/*  your css code here. If applicable */
h1,h2,h3{
	text-align:center;
	font-family:sans-serif;
}
#songs{
	border:2px solid black;
	border-radius:5px;
	background:white;
}
body{
	background-color:rgb(204,204,204)
}

.container{
	width:550px;
	margin:0 auto;
	padding:10px;
	border-radius:5px;
	border:2px solid black;
	background:white;
}
.player_one{
	width:550px;
	padding:border-radius;
	background-color:rgb(255,255,255);
}
.player_two{
	width:550px;
	padding:border-radius;
	background-color:rgb(255,255,255);
}
.mp3{
	margin-top:-10px;
}
.sng label{
	/* /* margin:0 0 10px 10px; */
	padding:0 0 10px 10px;
	font-family:sans-serif;
	
	
}
.sng{
	display:flex;
	flex-direction:column;
}
li{
	list-style-type:none;
	text-decoration-line:none;
}
a{
	text-decoration:none;
	color:black;
	font-family:sans-serif;
	margin-left:-20px;
}